.registerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

}

.registerWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 1px 3px 9px 6px rgba(0, 0, 0, 0.18);
    box-shadow: 1px 3px 9px 6px rgba(0, 0, 0, 0.18);
    border-radius: 15px;
}

.title {
    margin-top: 30px;
}

.registerForm {
    display: flex;
    flex-direction: column;
}

.registerItem {
    display: flex;
    margin: 5px 10px;
    flex-direction: column;
}

.registerItem label {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(84, 82, 82);
}

.registerItem input {
    height: 5px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
}

.registerButton {
    width: 200px;
    border: none;
    background-color: darkblue;
    color: white;

    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
    align-items: center;
    cursor: pointer;
    padding: 2px;
    margin: 10px;
    justify-content: center;
}